<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ESportle</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/homestyle.css">
</head>
<body>
    <header>
        <div class="navbar" id="navbar">
            <div class="logo">
                <a href="/"><img class="logoimg" src="/images/logo1.png" alt=""></a>
            </div>
            <%- include('navbar')%>
            <div class="login">
                <a href="/login"><img class="signup" src="/images/sign.png" alt=""></a>
            </div>
        </div>
    </header>