<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/login.css" />
    <title>Login</title>
  </head>
  <body>
    <div class="container">
      <h1 style="font-size: 2.2rem;">Register</h1>
      <form>
        <div class="form-control">
        <input type="text" required>
        <label>Name</label>
        </div>

        <div class="form-control">
          <input type="text" required>
          <label>Email</label>
        </div>

        <div class="form-control">
          <input type="password" required>
          <label>Password</label>
        </div>

        <button class="btn">Register</button>

        <p class="text">Already have an account? <a href="/login"> Log In</a> </p>
      </form>
    </div>

    <script>
        const labels = document.querySelectorAll('.form-control label')

        labels.forEach(label => {
            label.innerHTML = label.innerText
                .split('')
                .map((letter, idx) => `<span style="transition-delay:${idx * 50}ms">${letter}</span>`)
                .join('')
        })
    </script>
  </body>
</html>