<div class="highlights">
    <br>
    <h2>MATCH HIGHLIGHTS</h2>
    <br>
    <div class="highlights-box">

        <div class="highlight">
            <iframe src="https://www.youtube.com/embed/RSsYotUD6R0?start=2" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p>Apex Legends - Funny Moments & Best Highlights</p>
        </div>
        <div class="highlight">
            <iframe src="https://www.youtube.com/embed/OdeQluDGa8M?start=3" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>    
            <p>BEST VALORANT PLAYS OF 2021 | VALORANT MONTAGE</p>
        </div>
        <div class="highlight">
            <iframe src="https://www.youtube.com/embed/G6RayaBJpAI?start=4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p>TenZ : INHUMAN's Valorant match Highlights</p>
        </div>
        <div class="highlight">
            <iframe src="https://www.youtube.com/embed/e7csWyElaIk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>    
            <p>50+ BEST PLAYS from ALGS Championship 2022</p>
        </div>
        
    </div>
    <br><br><br>
</div>
