<br>
<h2 style="margin-top: px;margin-bottom: px;">HOTTEST IN GAMES</h2>
<br>

<div class="game-news">
    <a href="/title/4">
        <img class="game-img" src="https://c4.wallpaperflare.com/wallpaper/362/521/179/game-naughty-dog-the-last-of-us-part-ii-wallpaper-preview.jpg" alt="">
    </a>
    <div class="game-content">
        <a href="/title/4"><h3>Sony won’t replace damaged The Last of Us Part 1 Firefly Editions, fans claim</h3></a>
        <br>
        <br>
        <p>Many buyers of the Firefly Edition of The Last of Us Part 1 are reporting the game was delivered to them massively damaged, and now Sony is apparently refusing to replace their copies.</p>
        <p>There’s nothing worse than getting a damaged package in the mail, especially when the parcel is a limited edition game.For those who purchased the special Firefly Edition of The Last of Us Part 1, the launch day of the action-adventure remake quickly went from celebration to nightmare as many fans reported their copies were beaten up when delivered...<a style="color: rgb(255, 255, 255);" href="/title/4">(more)</a></p>
    </div>
</div>
<br>
<br>
<br>
