<style>
    .player-card{
        height: 70vh;
        width: 25vw;
        background-repeat: no-repeat;
        background-position: center;
    }
</style>

<div class="players">
    <br>
    <div class="control">
        <h2>PLAYERS</h2>
    </div>
    <br>
    <div class="player-card" style="background-image: url('/images/dr-disrespect.png');">
        
    </div>
</div>