<div class="if-color1">
    <hr style="margin-top: 0;">
    <h2>TOP 5 TEAMS IN YOUR COUNTRY</h2>
    <br>
    <div class="team-box">
        <a href="https://liquipedia.net/pubgmobile/Team_SouL" target="_blank">
            <div class="teams team1">
                <div class="logo" style="background-image: url('/images/logos/soul.png')"></div>
                <p>Team <br><b>SOUL</b></p>
            </div>
        </a>
        <a href="https://liquipedia.net/pubgmobile/TSM" target="_blank">
            <div class="teams team2">
                <div class="logo" style="background-image: url('/images/logos/tsm.png')"></div>
                <p>Team <br><b>TSM</b></p>
            </div>
        </a>
        <a href="https://liquipedia.net/pubgmobile/GodLike_Esports" target="_blank">
            <div class="teams team3">
                <div class="logo" style="background-image: url('/images/logos/gl.png')"></div>
                <p>Team <br><b>GODLIKE</b></p>
            </div>
        </a>
        <a href="https://liquipedia.net/pubgmobile/7Sea_Esports" target="_blank">
            <div class="teams team4">
                <div class="logo" style="background-image: url('/images/logos/7seas.png')"></div>
                <p>Team <br><b>7SEAS</b></p>
            </div>
        </a>
        <a href="https://liquipedia.net/valorant/Enigma_Gaming" target="_blank">
            <div class="teams team5">
                <div class="logo" style="background-image: url('/images/logos/enigma.png')"></div>
                <p>Team <br><b>ENIGMA</b></p>
            </div>
        </a>
    </div>
    <br>
    <hr>
</div>